<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="productos-lista">
        {{#each productos}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    // Script para manejar los WebSockets
    const socket = io();

    socket.on('connect', () => {
        console.log('Cliente conectado');
    });

    socket.on('disconnect', () => {
        console.log('Cliente desconectado');
    });

    socket.on('productoCreado', (producto) => {
        const listaProductos = document.getElementById('productos-lista');
        const nuevoProducto = document.createElement('li');
        nuevoProducto.textContent = producto;
        listaProductos.appendChild(nuevoProducto);
    });
</script>
</html>
